Source: reg16
Section: misc
Priority: extra
Maintainer: Vladimir Georgiev <v.georgiev@metrotek.spb.ru>
Build-Depends: debhelper:all (>= 9.0.0), ruby-ronn
Standards-Version: 3.9.2
Homepage: http://metrotek.spb.ru/code/reg16

Package: reg16
Architecture: any
Depends: ${misc:Depends}
Description: Utility for reading 16-bit registers from shared memory of Altera SoC's HPS and FPGA

